ion-card {
  max-width: 420px;
  margin: auto;
  margin-top: 40px;
  border-radius: 12px;
}

ion-card-title {
  font-size: 1.4rem;
  font-weight: 600;
}

ion-card-subtitle {
  font-size: 0.9rem;
}

ion-note {
  margin-left: 16px;
}

ion-button {
  margin-top: 20px;
}
